#cat1{
    display: flex;
    margin: auto;
    margin-block: 50px;
    width: 30%; 
    border: 15px dotted rosybrown;
    border-radius: 1000px ;
}
body{
    text-align: center;
    background-color: antiquewhite;
}
article{
    display: block;
    background-color: pink;
    padding: 1%;
    margin-bottom: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}